@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}




::-webkit-scrollbar {
    width: 12px;

}


::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: rgb(156, 6, 211);
    ;

    border-radius: 6px;

    transition: background 0.3s ease-in-out;

}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

/* Scrollbar corner (for when both horizontal and vertical scrollbars are present) */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}


html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #dbe3ef, #d9fc87, #84f982, #7fa3f8, #e99af9, #6ac3d9, rgb(243, 192, 98));
    overflow-x: hidden;
}

nav {
    background-color: #fff;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    overflow-x: hidden;
}

nav.active {
    width: 100vw;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0px 50px;
    font-size: 20px;
    transition: 0.14s;

}

nav ul a:hover {
    color: rgb(156, 6, 211);
    text-shadow: 1px 1px 1px rgb(156, 6, 211);
}

.icon {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}


/* Home Section */

.home {

    margin-top: 40px;
    display: flex;
    letter-spacing: 1.2px;
    flex-direction: row;
    justify-content: space-evenly;


}

.image-card img {
    width: auto;
    height: 440px;
    border-radius: 30px;
}




.intro-card-heading {
    font-size: 25px;
    text-align: end;
    margin-bottom: 30px;

}

.name {
    color: rgb(156, 6, 211);
    text-shadow: 2px 2px 5px rgb(156, 6, 211);
}

.intro-card {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.intro-desc {
    width: 70%;
    font-size: 20px;
}

.download {
    padding: 15px 25px;
    margin-top: 50px;
    border-radius: 16px;
    border: none;
    outline: none;
    background-color: rgb(156, 6, 211);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

.download a {
    text-decoration: none;
    color: white;
}

.download:hover {
    background-color: rgb(121, 3, 164);
    text-shadow: 4px 4px 5px rgb(121, 3, 164);
}

.bx-download {
    font-size: 16px;
    font-weight: bold;
}




/* Skills */

.skills {
    margin-top: 250px;
    padding-left: 200px;
    width: 70%;
    min-height: 100vh;
    transition: 0.2s;
}

.skill-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 25px;
}

.skill {
    display: flex;
    flex-direction: column;
}

.skills h1 {
    font-size: 30px;
}


/* progress bar setting */
progress {
    width: 100%;
    height: 11px;
    margin-top: 20px;

}



/* About Page */
.about {
    padding: 40px;
    height: 100vh;
}


.about h1 {
    text-align: center;
    font-size: 40px;
}

.about-container {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}


.about-img img {
    width: 230px;
    height: 320px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.about-img img:hover {
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);

}

.about-desc {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: start;
    text-align: justify;
}


.about-desc button {
    text-decoration: none;
    color: rgb(121, 3, 164);
    margin-top: 30px;
    padding: 15px 25px;
    border: 1px solid rgb(121, 3, 164);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-out;
}


.about-desc button:hover {
    background-color: rgb(121, 3, 164);
    color: white;
    box-shadow: 2px 3px 5px rgb(121, 3, 164);
}

.about-desc p {
    font-size: 15px;
    letter-spacing: 2px;
}



/* portfolio Section */

.portfolios {
    height: 100vh;
    margin-top: 50px;
}


/* Social Links */

.social-links {
    text-align: center;
}


.links {
    margin-top: 20px;

}

.links a {
    margin: 20px;
    font-size: 30px;
}

.links a:hover {
    color: rgb(156, 6, 211);

}



.links .bx:hover {
    font-size: 40px;
    transition: 0.2s ease-in-out;
}


/* Contact Form */
.contact {
    padding: 40px;
    padding-left: 140px;
    height: 100vh;
    text-align: center;
}

.contact .container p {
    text-align: start;
    margin: 10px;
    padding-left: 90px;
    font-size: 20px;
}

.contact .container h1 {
    font-size: 30px;
}

.contact .container h4 {
    color: rgb(121, 3, 164);
    font-size: 20px;
    margin-top: 14px;
}


/* message input field */
.message-container {
    margin-left: 340px;
    margin-top: 30px;
    width: 30%;
    text-align: center;
    border: 2px solid rgb(121, 3, 164);
    border-radius: 18px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.05);

}


input {
    padding: 10px;
    text-align: left;
    background: transparent;
    color: black;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin: 8px;

}

.message-container button {

    padding: 10px 12px;
    border-radius: 12px;
    margin-top: 30px;
    background-color: rgb(121, 3, 164);
    width: 100%;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 0.2s ease-in-out;


}

.message-container button:hover {
    background-color: rgb(156, 6, 211);
}



.heart {
    color: red;
}

footer {
    text-align: center;
    font-size: 20px;
    transform: translateY(-10px);
}


input {
    font-size: 17px;
}




/* Responsiveness */



@media screen and (max-width:700px) {

    .home {
        flex-direction: column;
    }

    .image-card img {
        width: 340px;
        height: 440px;
        padding-left: 15px;
    }


    .intro-card-heading {
        font-size: 15px;
        text-align: center;
        text-wrap: nowrap;
        margin-bottom: 30px;
        width: 100%;
    }


    .intro-desc {
        width: 100vw;
        padding-left: 50px;
        /* height: auto; */
        transform: translateX(30px);
        margin-left: 50px;
    }

    .download {
        width: 120%;
        /* transform: translateX(30px); */
        /* padding-left: 50px; */
        margin-left: 90px;
        margin-bottom: 100px;
    }



    nav ul a {
        margin: 0px 11px;
        font-size: 12px;
        transition: 0.14s;
    }

    #nav-resume {
        display: none;
    }


    /* Skills Set */
    .skills {
        margin-top: 20px;
        padding-left: 20px;
    }

    .skill-container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 15px;
    }


    .about {
        margin: 40px;
        height: 200vh;
    }

    .about h1 {
        font-size: 30px;
    }

    .about-container {
        display: flex;
        margin: 50px;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }


    .about-img img {
        width: 330px;
        height: 520px;

    }

    .about-img img:hover {
        box-shadow: none;

    }

    .about-desc {
        margin-top: 30px;
        padding: 30px;
        width: 100vw;
        align-items: center;
        text-align: justify;
    }

    .contact {

        padding-left: 10px;
        text-align: center;
    }

    .contact .container p {
        width: 100vw;
        text-align: left;
        margin: 10px;
        padding-left: 6px;
        font-size: 13px;
        transform: translateX(-16px);

    }




    .message-container {
        margin-left: 12px;
        margin-top: 30px;
        width: 100%;
    }


    input {
        padding: 10px;
        text-align: left;
        background: transparent;
        color: black;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        width: 105%;
        margin: 8px;

    }

    footer {
        text-align: center;
        font-size: 20px;
        transform: translateY(-40px);
    }


    .name {
        font-size: 27px;
    }


}



.bx {
    font-size: 30px;
}


.skill img {
    width: 20px;
}